$list-colour: #A9A9A9; /* SCSS variable */

%automargin { /* SCSS inheritance */
		margin: auto;
}

.header { /* Class Selector */
	font-size: 32px;
  width: 95%;
  @extend %automargin;
}

.para {
  width: 95%;
  font-size: 24px;
  @extend %automargin;
}

.table { /* SCSS nesting */
	font-size: 12px;
  width: 95%;
  border: 4px solid grey;
	@extend %automargin;

  .theader {
    font-size: 14px;
    border: 2px solid grey;
  }

  tr, td { /* Multiple Element Selector */
    border: 1px solid grey;
  }
}

.status {
  text-align: center;
  background-color: #87D37C;
  border: 1px solid grey;
}

#profile_picture { /* #id selector */
  display: block;
  width: 30%;
  @extend %automargin;
}

ol li { /* Descendant Selector */
	  color: $list-colour;
}

ul > li { /* Child Selector */
    color: black;
}

.list-center {
	display: inline-block;
	text-align: left;
}

.aboutme-center {
	text-align: center;
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .header {
    font-size: 18px;
  }

  .para {
    font-size: 14px;
  }

  .table {
    font-size: 10px;
  }

  .table .theader {
    font-size: 10px;
  }

  .nav-tabs {
    font-size: 10px;
  }

  ul {
    font-size: 10px;
  }

}
